{% extends 'controlpanel/controlpanel_base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Power Tools Control Panel - Tools</b></h5>
  </header>

<div class="w3-container">

{% for tool in tools %}

    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="../../static/icons/tools.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">        
        <h4>{{ tool.make }}, {{ tool.serialno }}</h4>
        <div class="w3-left w3-opacity">Last rent - {{ tool.last_rentered }}</div><br>
        <hr class="w3-clear">
        <img src="../../static/images/tools.jpeg" style="width:20%" class="w3-margin-bottom">
        <p>{{ tool.desc }}</p>
        <button type="button" class="w3-button w3-green w3-margin-bottom"><i class="fa fa-exchange"></i>  Rents</button> 
        <button type="button" class="w3-button w3-green w3-margin-bottom"><i class="fa fa-edit"></i>  Edit</button> 
        <button type="button" class="w3-button w3-red w3-margin-bottom"><i class="fa fa-remove"></i>  Remove</button> 
      </div>

{% endfor %}

</div> 

</div>
<!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

</div>



{% endblock %}
